* {
    background-color: rgb(226, 230, 230);

}

h1 {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    background-color: aqua;
    padding: 5px;
    border-radius: 25px;
    text-decoration: underline;
}

#InputValueId {
    border: solid;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: azure;
}

#InputValueId::placeholder {
    font-size: 15px;
}

.collapse {
    display: none;
}

span.rotate {
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: inline-block;
}

span.normal {
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(00deg);
    -ms-transform: rotate(00deg);
    -webkit-transform: rotate(00deg);
}

#main_section {
    margin-top: 10px;
    font-size: 25px;
}

.main {
    display: flex;
}

#main {
    font-size: 20px;
}

.icons {
    background: none;
    border: none;
    cursor: pointer;
    margin: 4px;
    padding: 0;
}

#deletebutton1 {
    font-size: 15px;
    color: red;
}

#root~#deletebutton1 {
    display: none;
}