* {
    font-family: 'Mukta', sans-serif;
    background-color: rgb(186, 190, 190);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: underline;
}

.inputbtn {
    margin-left: 15px;
    font-size: 18px;
}

#InputValueId {
    border: solid;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 5px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: azure;
}

#InputValueId::placeholder {
    font-size: 15px;
}

.collapse {
    display: none;
}

span.rotate {
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: inline-block;
}

span.normal {
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(00deg);
    -ms-transform: rotate(00deg);
    -webkit-transform: rotate(00deg);
}

#main_section {
    margin-top: 15px;
    font-size: 25px;
}

.main {
    display: flex;
}

#main {
    font-size: 20px;
}

.folderIcon {
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

.fileIcon {
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin: 0 5px;
}

.deleteIcon {
    border: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
}

#root~#deletebutton {
    display: none;
}