.folderWrapper {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
}


.createFolderBtn,
.createFileBtn,
.deleteBtn,
.renameBtn {
    cursor: pointer;
    margin-left: 10px;
}

.deleteBtn:hover {
    color: red;
}

.toggleBtn {
    margin-right: 3px;
}

.rotate {
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: inline-block;
}

.normal {
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(00deg);
    -ms-transform: rotate(00deg);
    -webkit-transform: rotate(00deg);
}